*.html
*.xml
*.skein
*.rtf
PRD.inform/Settings.plist
PRD.inform/manifest.plist
PRD.inform/release.blurb
PRD.inform/Metadata.iFiction
PRD.inform/build/*
PRD.inform/Skein.skein
PRD.materials/Release/*
PRD.materials/Icon

*.xml

PRD.materials/Icon

PRD.materials/Icon

*.xml

*.xml
